<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Patricia Capra - Contacto</title>

    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Google Font - Imperial Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Source+Sans+Pro:wght@200;400;600&display=swap" rel="stylesheet">

    <!-- Estilos desde SCSS -->
    <link rel="stylesheet" href="../sass/styles-sass.css">
</head>

<body>
    <header class="header-gral sticky-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid navbar-light bg-light">
                <div class="logo">
                    <h2><a href="index.html">Regalos Patri</a></h2>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light bg-light" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productos.html">PRODUCTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="testimonios.html">TESTIMONIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeria.html">GALERÍA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero__contacto">
            <div class="hero__bg__contacto">
                <img src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=974&q=80"
                    alt="">
            </div>

            <div class="hero__about__contacto">
                <h1>Contacto</h1>
            </div>
        </section>

        <section class="container__contacto">
            <div class="row">
                <div class="info__contacto col-lg-6 col-md-12">
                    <h3>Informacion de contacto:</h3>
                    <ul>
                        <li>Direccion:
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, deleniti.
                        </li>

                        <li>Teléfono:
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, deleniti.
                        </li>

                        <li>Email:
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, deleniti.
                        </li>
                    </ul>
                </div>
                <form action="" method="POST" class="col-lg-6 col-md-12">
                    <div class="input-group">
                        <label for="name">Nombre y Apellido:</label>
                        <br>
                        <input type="text" id="name" name="nombre" placeholder="Ingrese su nombre" required>
                    </div>

                    <div class="input-group">
                        <label for="mail">Email:</label>
                        <br>
                        <input type="email" id="mail" name="email" placeholder="Ingrese su email" required>
                    </div>

                    <div class="input-group">
                        <label for="message">Mensaje</label>
                        <br>
                        <textarea name="mensaje" id="message" cols="30" rows="8"
                            placeholder="Ingrese su mensaje"></textarea>
                    </div>

                    <input type="submit" value="Enviar mensaje">
                </form>
            </div>
        </section>
    </main>

    <footer style="clear: both;">
        <p>Copyright © - Desarrollado por Esteban Pechuan</p>
    </footer>

    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    
</body>

</html>