<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricia Capra - Contacto</title>

    <!-- Google Font - Imperial Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Source+Sans+Pro:wght@200;400;600&display=swap" rel="stylesheet">

    <!-- Futuro CSS -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <header class="header-gral">
        <nav class="menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="testimonios.html">TESTIMONIOS</a></li>
                <li><a href="galeria.html">GALERÍA</a></li>
                <li><a href="#" class="menu-active">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero__contacto">
            <div class="hero__bg__contacto">
                <img src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=974&q=80"
                    alt="">
            </div>

            <div class="hero__about__contacto">
                <h1>Contacto</h1>
            </div>
        </section>

        <section class="container__contacto">
            <div class="">
                <div class="info__contacto">
                    <h3>Informacion de contacto:</h3>
                    <ul>
                        <li>Direccion:
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, deleniti.
                        </li>

                        <li>Teléfono:
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, deleniti.
                        </li>

                        <li>Email:
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, deleniti.
                        </li>
                    </ul>
                </div>
                <form action="" method="POST">
                    <div class="input-group">
                        <label for="name">Nombre y Apellido:</label>
                        <br>
                        <input type="text" id="name" name="nombre" placeholder="Ingrese su nombre" required>
                    </div>

                    <div class="input-group">
                        <label for="mail">Email:</label>
                        <br>
                        <input type="email" id="mail" name="email" placeholder="Ingrese su email" required>
                    </div>

                    <div class="input-group">
                        <label for="message">Mensaje</label>
                        <br>
                        <textarea name="mensaje" id="message" cols="30" rows="8"
                            placeholder="Ingrese su mensaje"></textarea>
                    </div>

                    <input type="submit" value="Enviar mensaje">
                </form>
            </div>
        </section>
    </main>

    <footer style="clear: both;">
        <p>Copyright © - Desarrollado por Esteban Pechuan</p>
    </footer>
</body>

</html>