<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricia Capra - Productos</title>

    <!-- Google Font - Imperial Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Source+Sans+Pro:wght@200;400;600&display=swap" rel="stylesheet">

    <!-- Futuro CSS -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header-gral">
        <nav class="menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="#" class="menu-active">PRODUCTOS</a></li>
                <li><a href="testimonios.html">TESTIMONIOS</a></li>
                <li><a href="galeria.html">GALERÍA</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    


    <!-- Fotos aleatorias por ahora -->
    
    <main class="main-productos">
        <h1>Productos</h1>
        <div class="cards-container">
            <div class="card-producto">
                <div class="card-info">
                    <h2>Producto 1</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tempora obcaecati maiores fuga ullam minima, nisi ut recusandae eos, omnis vitae fugit tempore labore? Quidem ducimus illo suscipit nam impedit.</p>
                    <a href="galeria.html">Ir a galería</a>
                </div>
                <div class="card-img">
                    <img src="https://picsum.photos/400/300" alt="Foto aleatoria">
                </div>
            </div>
        </div>

        <div class="cards-container">
            <div class="card-producto">
                <div class="card-img">
                    <img src="https://picsum.photos/400/400" alt="Foto aleatoria">
                </div>
                <div class="card-info">
                    <h2>Producto 2</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tempora obcaecati maiores fuga ullam minima, nisi ut recusandae eos, omnis vitae fugit tempore labore? Quidem ducimus illo suscipit nam impedit.</p>
                    <a href="galeria.html">Ir a galería</a>
                </div>
            </div>
        </div>

        <div class="cards-container">
            <div class="card-producto">
                <div class="card-info">
                    <h2>Producto 3</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tempora obcaecati maiores fuga ullam minima, nisi ut recusandae eos, omnis vitae fugit tempore labore? Quidem ducimus illo suscipit nam impedit.</p>
                    <a href="galeria.html">Ir a galería</a>
                </div>
                <div class="card-img">
                    <img src="https://picsum.photos/400/500" alt="Foto aleatoria">
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Copyright © - Desarrollado por Esteban Pechuan</p>
    </footer>    
</body>
</html>