:root {
    /* CSS HEX */
    --antique-brass: #cb997eff;
    --desert-sand: #ddbea9ff;
    --champagne-pink: #ffe8d6ff;
    --ash-gray: #b7b7a4ff;
    --artichoke: #a5a58dff;
    --ebony: #6b705cff;
}