<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricia Capra - Galería</title>

    <!-- Futuro CSS -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="testimonios.html">TESTIMONIOS</a></li>
                <li><a href="#" class="menu-active">GALERÍA</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- Galería de IMÁGENES -->
    </main>

    <footer>
        <p>Copyright © - Desarrollado por Esteban Pechuan</p>
    </footer>    
</body>
</html>