:root {
    /* Posible paleta de colores */
    --clr-pry: #cb997e;
    --clr-scd: #6b705c;

    --clr-pry-light: #e2dbd6;
    --clr-scd-light: #c9c9c0;

    --fnt-fly-pry: 'Imperial Script' !important;
    --fnt-fly-scd: 'Source Sans Pro', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fnt-fly-scd) !important;
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

html {
    scroll-behavior: smooth !important;
}

body {
    width: 100%;
}


/* --- Hero --- */

.hero__home {
    width: 100%;
    height: 100vh;
    margin-bottom: 250px;
    position: relative;
}

.hero__home .hero__bg__slider {
    width: 100%;
    height: 100%;
    perspective: 800px;
    overflow: hidden;
}

.hero__home .hero__bg__slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%) blur(2px);
}

.hero__conteiner {
    width: 100%;
    height: 100%;
    padding: 100px;
    position: absolute;
    top: 0;
}

.hero__conteiner .hero__logo {
    width: 40%;
    height: 100%;
    position: relative;
}

.hero__conteiner .hero__logo h2 {
    font-family: 'Imperial Script', cursive !important;
    color: var(--clr-pry-light);
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.hero__conteiner .hero__slider {
    width: 40%;
    position: absolute;
    bottom: 50px;
    right: 100px;
    border: 15px solid #fff;
}

.hero__conteiner .hero__slider img {
    display: table;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__about-box {
    width: 100%;
    padding: 0 50px !important;
}

.hero__about {
    width: 100% !important;
    max-width: 600px;
    position: relative;
    margin: 0px auto;
    padding: 40px 60px;
    background: #fff;
    box-shadow: 0 0 20px #000;
    opacity: 0;
    text-align: center;
    transition: 0.6s;
    z-index: 100;
}

.hero__about-scroll {
    margin: -150px auto 0;
    opacity: 1;
}

.hero__about h1 {
    font-size: 30px;
    color: var(--clr-scd);
    font-weight: bold;
}

.hero__about p {
    padding: 20px 0;
    text-align: left;
}

.hero__about button {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid var(--clr-scd);
    color: var(--clr-scd);
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}


main {
    width: 100%;
    background: var(--clr-pry-light);
}

main > h1 {
    text-align: center;
    font-family: 'Imperial Script' !important;
    font-size: 70px;
    padding: 50px 0;
}





/* Header & Footer */

/* Header */

header {
    width: 100%;
    height: 80px;
    transition: 0.4s;
    z-index: 5000;
}

header .navbar {
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    width: 300px;
    font-size: 50px;
}

.logo h2 a {
    font-family: 'Imperial Script', sans-serif !important;
    color: #000;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline;    
    list-style-type: none;
    line-height: 80px;
    border-left: 2px solid #fff3;
    transition: 0.4s;
}

.menu li:first-child {
    border-left: none;
}

.menu li a {
    padding: 10px 20px;
    color: #fff;
    position: relative;
}

.menu li a.menu-active::after,
.menu li a:hover::after {
    content: '';
    width: 60%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 5px;
    left: 20%;
}

.icons {
    display: block;
    filter: invert(1);
    display: flex;
    align-items: center;
}

.icons img {
    transform: scale(1.5);
    display: none;
}

.icons img.icon-active {
    transform: scale(1.5);
    display: block;
    cursor: pointer;
}


.header-scroll {
    background: rgba(255, 255, 255, 0.761);
    height: 60px;
    border-bottom: 1px solid #fff;
}

.header-scroll .navbar {
    height: 100%;
}

.header-scroll .logo h2 a {
    color: #000;
}

.header-scroll li {
    line-height: 60px;
    border-color: #0008;
}

.header-scroll li a {
    color: #000;
}

.header-scroll .logo h2 {
    color: #000;
}
.header-scroll .icons {
    filter: invert(0);
}


.header-gral {
    background: #fff;
    border-bottom: 1px solid #000;
}

.header-gral li {
    border-left: 2px solid #0003;
}

.header-gral a {
    color: #000 !important;
}

.header-gral .menu li a.menu-active::after,
.header-gral .menu li a:hover::after {
    content: '';
    width: 60%;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 5px;
    left: 20%;
}

.header-gral .icons {
    filter: invert(0);
}



/* Footer */

footer {
    width: 100%;
    text-align: center;
    padding: 30px 50px;
    background: var(--clr-scd);
    color: #fff;
}

footer p {
    margin: 0%;
}




/* Productos & Testimonios */

.productos__home,
.testimonios__home {
    width: 100%;
}

.productos__home h2,
.testimonios__home h2 {
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
    font-family: 'Imperial Script', cursive !important;
    color: var(--clr-scd);
}

.productos__home .card__productos,
.testimonios__home .card__testimonios {
    width: 100%;
    height: 300px !important;
    position: relative;
}

.productos__home .card__productos img,
.testimonios__home .card__testimonios img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
}

.productos__home .card__productos a,
.testimonios__home .card__testimonios a {
    display: none;
    padding: 30px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 7px;
    z-index: 200;
}

.card__productos:hover img,
.card__testimonios:hover img {
    filter: brightness(40%);
}

.card__productos:hover a,
.card__testimonios:hover a {
    display: block;
}

.cards-container {
    width: 100%;
    padding: 0 200px 50px;
}

.card-producto,
.card-testimonio {
    width: 100%;
    background: var(--clr-scd-light);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: -2px 2px 4px #0004;
    transition: 0.4s;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cards-container:nth-child(3) .card-img {
    order: -1;
}

.cards-container .card-info {
    width: 60%;
    height: 100%;
    float: left;
    padding: 0 50px;
    
    flex-grow: 1;
    flex-basis: 300px;
}

.cards-container .card-info h2 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.cards-container .card-info p {
    padding: 30px 0;
}

.cards-container .card-info a {
    margin-top: 50px;
    color: #444;
    border: 2px solid #444;
    padding: 10px 20px;
    border-radius: 10px;
}

.cards-container .card-img {
    width: 40%;
    max-height: 300px;
    overflow: hidden;
    height: 100%;
    float: left;
    border: 20px solid #fff;
    position: relative;
    top: 0;
    transition: 0.4s;
    transition-delay: 0.2s;

    flex-grow: 1;
    flex-basis: 200px;
}

.cards-container .card-img img {
    width: 120%;
    height: 120%;
    object-fit: cover;
}


.testimonio-click {
    transform: scale(1.2);
}

.testimonio-img-click {
    top: -50px !important;
}




/* Galería */

.main-galeria {
    width: 100%;
}

.fotos-container {
    width: 100%;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.fotos-container .row {
    margin: 0 !important;
}

.fotos-container .cards-galeria {
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background: #000;
    margin: 0 !important;
    padding: 0 !important;
}

.fotos-container .cards-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.4s;
}

.fotos-container .cards-galeria button {
    background: transparent;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff0;
    color: #fff0;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.fotos-container .cards-galeria:hover button {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
}

.fotos-container .cards-galeria:hover img {
    opacity: 0.4;
}




/* Contacto */

.hero__contacto {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
}

.hero__contacto .hero__bg__contacto {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: #000;
}

.hero__contacto .hero__bg__contacto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.hero__contacto .hero__about__contacto {
    width: 100%;
    height: 100%;
}

.hero__contacto .hero__about__contacto h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Imperial Script' !important;
    font-weight: bold;
    font-size: 70px;
    user-select: none;
}

.container__contacto {
    width: 100%;    
    padding: 0 100px 50px;
    margin-top: -150px;
    position: relative;
    z-index: 2000;
}

.container__contacto > * {
    width: 100%;
    padding: 30px 50px;
    min-height: 550px;
    background: rgba(238, 238, 238, 0.96) !important;
    border-radius: 8px;
    box-shadow: 0 3px 4px #0005;
}

.container__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.info__contacto {
    padding: 10px 0 30px 40px;
    float: left;
}

.info__contacto h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--clr-pry);
}

.info__contacto li {
    padding: 20px 0;
}

.info__contacto li::marker {
    color: var(--clr-pry);
}

.container__contacto form {
    padding: 0 20px;
    float: right;
}

.container__contacto form .input-group {
    width: 100%;
}

.container__contacto form .input-group > * {
    width: 100%;
    padding: 10px 30px;
    margin: 5px 0;
}

.container__contacto form .input-group input,
.container__contacto form .input-group textarea {
    border-radius: 20px !important;
    border: 2px solid var(--clr-pry);
    margin-bottom: 10px;
    resize: none;
    outline: none;
}

input[type="submit"] {
    background: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--clr-pry);
    cursor: pointer;
}




/* Media */

@media (max-width: 991px) {
    .menu {
        width: 50%;
        height: 100vh;
        background: #fffe;
        position: absolute;
        top: 0;
        right: -100%;
        transition: 0.6s;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
    .menu ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    .menu li {
        display: inline;    
        list-style-type: none;
        line-height: 80px;
        border-left: 2px solid #0003;
        transition: 0.4s;
    }    
    .menu li:first-child {
        border-left: none;
    }    
    .menu li a {
        padding: 10px 20px;
        color: #000;
        position: relative;
    }    
    .menu li a.menu-active::after,
    .menu li a:hover::after {
        content: '';
        width: 60%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 5px;
        left: 20%;
    }    
    .menu.menu-active {
        width: 30%;
        height: 100vh;
        background: #fffc;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero__conteiner {
        padding: 50px !important;
    }
    .hero__conteiner .hero__logo {
        display: none;
    }
    .hero__conteiner .hero__slider {
        width: 80%;
        aspect-ratio: 16/9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .card__productos img,
    .card__testimonios img {
        filter: brightness(40%);
    }
    .card__productos a,
    .card__testimonios a {
        display: block !important;
    }

    .cards-container {
        width: 100%;
        padding: 0 150px 50px;
    }
}

@media (min-width: 991px) {
    .logo {
        display: none;
    }
    .icons {
        display: none;
    }
}

@media (max-width: 880px) {
    .cards-container .card-info {
        order: -1;
    }
}

@media (max-width: 768px) {
    .menu.menu-active {
        width: 50%;
    }

    .productos__home .card__productos a,
    .testimonios__home .card__testimonios a {
        padding: 10px 20px;
        font-size: 20px;
    }
    .productos__home,
    .testimonios__home {
        width: 100%;
        padding: 10px 50px;
    }

    .container__contacto {
        padding: 0 50px 50px;
    }

    .cards-container {
        width: 100%;
        padding: 0 100px 50px;
    }

    .main-galeria {
        padding: 0 50px 50px;
    }
}

@media (max-width: 574px) {
    .cards-container {
        width: 100%;
        padding: 0 50px 50px;
    }
}