<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricia Capra - Testimonios</title>

    <!-- Google Font - Imperial Script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Source+Sans+Pro:wght@200;400;600&display=swap" rel="stylesheet">

    <!-- Futuro CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
    <header class="header-gral">
        <div class="logo">
            <h2><a href="index.html">Regalos Patri</a></h2>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="#" class="menu-active">TESTIMONIOS</a></li>
                <li><a href="galeria.html">GALERÍA</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>

        <div class="icons">
            <img src="../img/icons/bx-menu.svg" name='menu' class="icon-active">
            <img src="../img/icons/bx-x.svg" name='x' >
        </div>
    </header>
    


    <!-- Fotos aleatorias por ahora -->
    
    <main class="main-testimonios">
        <h1>Testimonios</h1>
        <div class="cards-container">
            <div class="card-testimonio">
                <div class="card-info">
                    <h2>Testimonio 1</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tempora obcaecati maiores fuga ullam minima.</p>
                    <a href="#c">Ver más</a>
                </div>
                <div class="card-img">
                    <img src="https://picsum.photos/400/300" alt="Foto aleatoria">
                </div>
            </div>
        </div>

        <div class="cards-container">
            <div class="card-testimonio">
                <div class="card-info">
                    <h2>Testimonio 2</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tempora obcaecati maiores fuga ullam minima.</p>
                    <a href="#c">Ver más</a>
                </div>
                <div class="card-img">
                    <img src="https://picsum.photos/400/400" alt="Foto aleatoria">
                </div>
            </div>
        </div>

        <div class="cards-container">
            <div class="card-testimonio">
                <div class="card-info">
                    <h2>Testimonio 3</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium tempora obcaecati maiores fuga ullam minima.</p>
                    <a href="#c">Ver más</a>
                </div>
                <div class="card-img">
                    <img src="https://picsum.photos/400/500" alt="Foto aleatoria">
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Copyright © - Desarrollado por Esteban Pechuan</p>
    </footer>

    <script src="../js/main6.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
</body>
</html>