:root {
    /* Posible paleta de colores */
    --clr-pry: #cb997e;
    --clr-scd: #6b705c;

    --clr-pry-light: #e2dbd6;
    --clr-scd-light: #c9c9c0;

    --fnt-fly-pry: 'Imperial Script', cursive;
    --fnt-fly-scd: 'Source Sans Pro', sans-serif;
}